.jumbotron {           /* to style the title*/
    font-size: 43px;
    border: solid 5px ;    
    background: rgb(139, 120, 207);
    text-align: center;   
}

.btn {
    background: rgb(139, 120, 207);
    border-color: black solid;
}

.btn:hover {
    background: rgb(red, green, blue);
}